body{
	
}
/*floors*/
div{
	border: solid green;
	margin: auto;
	text-align: center;
	width: 100px;
	font-size: 30px;
	font-style: bold;
	height: 50px;
}
/*label_prg*/
#label_prg{
	text-align: center;
	width: 400px;
	font-style: bold;
	height: 150px;
	position: fixed;
	top: 450px;
	left: 150px;
	padding: 0px;
	font-size: 50px;
	border: none;
	color: green;
}
/*panel of control label*/
#cp{
	text-align: center;
	width: 164px;
	font-style: bold;
	height: 50px;
	position: fixed;
	top: 5px;
	left: 5px;
	padding: 0px;
	font-size: 20px;
	border: none;
	color: green;
}
/*кнопки панелі управління ліфтом*/
button{
	width: 75px;
	height: 50px;
	border-radius: 25px;
	border: solid 1.5px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	font-size: 18px;

}
#bt1{
	position: fixed;
	top: 320px;
	left: 10px;
}
#bt2{
	position: fixed;
	top: 270px;
	left: 10px;
}
#bt3{
	position: fixed;
	top: 220px;
	left: 10px;
}
#bt4{
	position: fixed;
	top: 170px;
	left: 10px;
}
#bt5{
	position: fixed;
	top: 120px;
	left: 10px;
}
#bt6{
	position: fixed;
	top: 320px;
	left: 95px;
}
#bt7{
	position: fixed;
	top: 270px;
	left: 95px;
}
#bt8{
	position: fixed;
	top: 220px;
	left: 95px;
}
#bt9{
	position: fixed;
	top: 170px;
	left: 95px;
}
#bt10{
	position: fixed;
	top: 120px;
	left: 95px;
}

#bt_go{
	position: fixed;
	top: 370px;
	left: 10px;
	width: 160px;
}
/*по замовчуванню ліфт на першому поверсі*/
#floor1{
	background-color: green;
}
/*екран панелі управління ліфтом*/
#screen_direction{
	position: fixed;
	left: 10px;
	top: 70px;
	width: 150px;
	height: 35px;
	padding: 2px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	border: solid grey;
}
/*стиль кнопок виклику ліфта на поверхах*/
.bt_f{
	border-radius: 25px;
	font-size: 18px;
	border: solid 1.5px;
	background-color: ;
	position: fixed;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	left: 55%;
}

/*кнопки виклику на поверхах*/
#bt_f10{top: 10px;}
#bt_f9{top: 66px;}
#bt_f8{top: 122px;}
#bt_f7{top: 178px;}
#bt_f6{top: 235px;}
#bt_f5{top: 290px;}
#bt_f4{top: 345px;}
#bt_f3{top: 400px;}
#bt_f2{top: 455px;}
#bt_f1{top: 510px;}
#label_bld{
	position: fixed;
	width: 40px;
	top: 18px;
	left: 565px;
	height: 555px;
	text-align: center;
	font-style: bold;
	padding: 0px;
	font-size: 57px;
	border: none;
	color: green;
word-wrap: break-word; /* Перенос слов */
}
#building1{
	color: green;
	position: fixed;
	left: 550px;
	top: 8px;
	width: 180px;
	height: 554px;
}